h1{
    color:BROWN;
}

img{
    max-width: 100%;
}

.navbar{
    background-color: #fff
}

.carousel{
    margin-bottom: 50px;
}

footer{
    background-color: #fff;
    margin-top: 50px;
    padding-top: 30px;
    padding-bottom: 30px; 
    color:#fff
}
    

